{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<body>
<html>

<div class="box-element product">
        <h5>Welcome to our online store, where we offer a wide selection of accessories for laptops and computers. Our goal is to provide our customers with high-quality products at competitive prices, while also providing excellent customer service.
            We understand that your laptop or computer is an important part of your daily life, and we want to help you keep it in top condition. That's why we offer a variety of accessories, including cases, chargers, adapters, keyboards, mice, and more, to help you personalize and protect your device.
            Our team is passionate about technology and staying up-to-date with the latest trends and innovations in the industry. We carefully select each of our products to ensure that they meet our high standards for quality and reliability.
            Thank you for choosing our store for all your laptop and computer accessory needs. We look forward to serving you and helping you get the most out of your device.</h5>
       
        </div>
</body>
</html>
    {% endblock content %}