<!DOCTYPE html>

{% load static %}

<html>
<head>
    <h2> <title>Ecom</title> </h2>


    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script type="text/javascript">
      var user = '{{request.user}}'

      function getToken(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getToken('csrftoken')

    function getCookie(name) {
      // Split cookie string and get all individual name=value pairs in an array
      var cookieArr = document.cookie.split(";");

      // Loop through the array elements
      for(var i = 0; i < cookieArr.length; i++) {
          var cookiePair = cookieArr[i].split("=");

          /* Removing whitespace at the beginning of the cookie name
          and compare it with the given string */
          if(name == cookiePair[0].trim()) {
              // Decode the cookie value and return
              return decodeURIComponent(cookiePair[1]);
          }
      }

      // Return null if not found
      return null;
    }

    var cart = JSON.parse(getCookie('cart'))

      if (cart == undefined){
        cart = {}
        console.log('Cart Created!', cart)
        document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"
      }

    console.log('Cart:', cart)

  </script>

</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        {% comment %} <h2> <a class="navbar-brand" href="{% url 'store' %}">Ecommerce</a> </h2> {% endcomment %}
        {% comment %} <h2> <a class="nav-link" href="{% url 'store' %}"> Moon Shop <span class="sr-only">(current)</span></a> </h2> {% endcomment %}

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
             <h2> <a class="nav-link " href="{% url 'store' %}">TechLand <span class="sr-only">(current)</span></a> </h2>
            </li>
            <li class="nav-item active">
             <h2> <a class="nav-link" href="{% url 'store' %}">Store <span class="sr-only">(current)</span></a> </h2>
            </li>
            <li class="nav-item active">
             <h2> <a class="nav-link" href="{% url 'about' %}"> About Us <span class="sr-only">(current)</span></a> </h2>
            </li>
            <li class="nav-item active">
             <h2> <a class="nav-link" href="{% url 'store' %}">Contacts <span class="sr-only">(current)</span></a> </h2>
            </li>

          </ul>
          <div class="form-inline my-3 my-lg-3">
            {% comment %} <a href="#"class="btn btn-warning">Login</a> {% endcomment %}
                    
                <a href="{% url 'cart' %}">
                   <img  id="cart-icon" src="{% static 'images/cart.png' %}">
                   </a>
               <p id="cart-total"> {{cartItems}} </p>
           
               </div>
        </div>
      </nav>

     <div class="container">
            <br>
            {% block content %}


             {% endblock content %}
     </div>


	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  <script type="text/javascript" src="{% static 'js/cart.js' %}" > </script>




  <footer class="mainfooter" role="contentinfo">
  <div class="footer-middle">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <!--Column1-->
        <div class="footer-pad">
          <h4>Services</h4>
          <ul class="list-unstyled">
            <li><a href="#"></a></li>
            <li><a href="#">Payment Center</a></li>
            <li><a href="#">Contact Directory</a></li>
            <li><a href="#">Forms</a></li>
            <li><a href="#">News and Updates</a></li>
            <li><a href="#">FAQs</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <!--Column1-->
        <div class="footer-pad">
          <h4>Resources</h4>
          <ul class="list-unstyled">
            <li><a href="#">Website Tutorial</a></li>
            <li><a href="#">Accessibility</a></li>
            <li><a href="#">Disclaimer</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">FAQs</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <!--Column1-->
        <div class="footer-pad">
          <h4>Municipal Government</h4>
          <ul class="list-unstyled">
            <li><a href="#">Parks and Recreation</a></li>
            <li><a href="#">Public Works</a></li>
            <li><a href="#">Police Department</a></li>
            <li><a href="#">Fire</a></li>
            <li><a href="#">Mayor and City Council</a></li>
            <li>
              <a href="#"></a>
            </li>
          </ul>
        </div>
      </div>
     <div class="col-md-3">
          <h4>Follow Us</h4>
            <ul class="social-network social-circle">
             <li><a href="#" class="fa fa-facebook">acebook</a></li>  <br>
             <li><a href="#" class="fa fa-twitter">twitter</a></li>  <br>
             <li><a href="#" class="fa fa-linkedin">linkedin</a></li>  <br>
             <li><a href="#" class="fa fa-instagram">instagram</a></li>  <br>
             <li><a href="#" class="fa fa-pinterest">pinterest</a></li>
            </ul>   
  </div>
    </div>
 <div class="row">
  <div class="col-md-12 copy">
   <p class="text-center">&copy;  2023 - ECOMMERCE.  All rights reserved.</p>
  </div>
 </div>


  </div>
  </div>
</footer>




</body>
</html>